@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    background: #AAA1C8;
    background: -moz-linear-gradient(top, #AAA1C8 0%, #967AA1 100%);
    background: -webkit-linear-gradient(top, #AAA1C8 0%, #967AA1 100%);
    background: linear-gradient(to bottom, #AAA1C8 0%, #967AA1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAA1C8', endColorstr='#967AA1', GradientType=0);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    user-select:none
}

p, h1, h2, h3, h4, h5, h6{
    width: fit-content;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #192A51;
    border-radius: 1px;
}

:root {
    --tc: #192A51;
    --bg1: #AAA1C8;
    --bg2: #967AA1;
    --rc: #D5C6E0;
    --sc: #F5E6E8;
}

a.back-link, a.page-link {
    font-weight: bold;
    font-size: calc(20px + 2.5vw);
    cursor: pointer;
}

.back-link {
    font-size: calc(20px + 1.8vw);
    transform: rotate(180deg);
    left: 20px;
    top: 20px;
    position: absolute;
}

.page-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    min-height: 100vh;
    width: 100%;
}

.page-container h1 {
    font-size: calc(30px + 3.5vw);
}

.page-container canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
}

.section-heading{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}

.section-intro{
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
}

.custom-cursor{
    top: 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    width: fit-content;
    position: absolute;
    pointer-events: none;
    z-index: 100;
    transition: transform 0.15s;
}

.custom-cursor.text-cursor{
    border-color: white;
    transform: scale(4);
    box-shadow: 0 0 5px rgba(255,255,255);
}

.pulsing-cursor{
    top: 0;
    transition: 0.1s;
    animation: scale 1.5s infinite;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    padding: 5px;
    z-index: 100;
    transition: transform 0.15s;
}

.pulsing-cursor.text-cursor{
    background-color: white;
}

.anchor-cursor{
    top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: white;
    color: black;
    pointer-events: none;
    font-weight: bold;
    z-index: 100;
    transition: transform 0.15s;
}

@keyframes scale {
    0%, 100%{
        transform: scale(0.2)
    }

    50%{
        transform: scale(1);
    }
}

/* Animations */

.page-container.home-page.scale-up {
    transform: scale(1);
}

.scale-fade {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.fade-element{
    opacity: 0;
    transition: 1s !important;
}

.fade-in{
    opacity: 1 !important;
}


/* Animations */

.page-container.secondary-page .fa-door-open{
    font-size: calc(20px + 1.8vw);
    right: 20px;
    top: 20px;
    position: absolute;
}

.page-container.secondary-page h1{
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.about-container, .portfolio-container, .contact-container{
    font-size: calc(20px + 1.8vw);
    font-weight: bold;
    padding-bottom: 20px;
    min-height: 100vh;
    width: 100%;
}

.section-wrapper{
    width: 100%;
    padding: 30px 70px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.section-wrapper > div{
    width: 100%;
}

.audio-toggler{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 60px;
}

/* Homepage */

[id="0-page"]{
    color: var(--tc) !important;
}

/* about */

.about-welcome .wrapper-right{
    display: flex;  
    align-items: end;
    flex-direction: column;
    padding-bottom: 50px;
    padding-right: 50px;
}

.about-welcome .wrapper-right p{
    font-size: 13px;
    padding-top: 20px;
}

.about-welcome .wrapper-right i{
    font-size: 16px;
    padding-left: 8px;
    cursor: pointer;
}

.about-skills{
    flex-direction: column;
    align-items: center;
}

.about-skills .section-intro{
    font-weight: 100;
    font-size: 16px;
}

.work-img, .technologies-img, .mains-img{
    font-weight: bold !important;
}

.icon-holder{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.icon-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.glitch-text{
    text-shadow: red -3px 0px, cyan 3px 0px;
}

@media(min-width: 992px){
    .work-img{
        color: purple;
        font-size: 23px;
    }

    .technologies-img{
        color: rgb(255, 0, 81);
        font-size: 23px;
    }

    .mains-img{
        color: green;
        font-size: 23px;
    }

    .about-skills .section-intro{
        margin-bottom: 40px;
    }

    .work-img, .technologies-img, .mains-img{
        position: relative;
    }
    
    .work-img img, .technologies-img img, .mains-img img{
        content: '';
        position: absolute;
        width: 0;
        height: 120px;
        object-fit: contain;
        left: 0;
        bottom: 100%;
        display: none;
    }
    
    .work-img:hover img, .technologies-img:hover img, .mains-img:hover img{
        display: block;
        width: 100%;
    }
}

/* portfolio */

/* contact */

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    justify-content: start;
}

form label{
    font-size: 17px;
}

form input, form textarea{
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0px;
    border-bottom: 2px solid var(--tc);
    font-size: 18px;
    outline: none;
}

form textarea{
    resize: none;
    min-height: 100px;
}

form > div{
    display: flex;
    flex-direction: column;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

form input:focus + label, form input:not(:placeholder-shown) + label, form input:-webkit-autofill + label{
    top: 3px;
    font-size: 9.5px !important;
}

form textarea:focus + label, form textarea:not(:placeholder-shown) + label, form textarea:-webkit-autofill + label{
    top: 3px;
    font-size: 9.5px !important;
}

form label{
    position: absolute;
    top: 30px;
    left: 10px;
    transition: 0.3s;
    color: rgb(82, 81, 81);
    pointer-events: none;
}

form button{
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 35px 10px 15px;
    transition: 0.3s;
    border: 0;
    border-bottom: 2px solid white;
    width: 150px;
}

form button.launched{
    padding: 10px 15px;
}

form button:hover{
    border-color: var(--tc);
}

form span{
    display: block;
    width: 40px;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 120px;
    transition: 1s;
}

form span.launch{
    animation: launch 5s linear;
    animation-fill-mode: forwards; 
    transform: scale(1.8) rotate(-45deg);
}
form span.launch .outer-fire{
    stroke: red;
    animation: burn 0.05s infinite;
    animation-fill-mode: forwards; 
    animation-delay: 1s;
}

@keyframes launch {
    0%{
        bottom: 0;
    }
    25%{
        bottom: 0;
    }
    100%{
        bottom: 200vh;
    }
}

@keyframes burn {
    0%{
        stroke-width: 0px;
        transform: translateY(15px);
    }
    50%{
        stroke-width: 20px;
        transform: translateY(-10px);
    }
    100%{
        stroke-width: 0%;
        transform: translateY(15px);
    }
}

form span svg{
    width: 100%;
}

/*  */

@media(max-width: 992px){
    .section-wrapper{
        padding: 30px 20px;
    }

    .about-welcome{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 100px;
    }

    .about-welcome .wrapper-right{
        padding: 0;
    }
}