*{
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    background: #AAA1C8;
    background: -moz-linear-gradient(top, #AAA1C8 0%, #967AA1 100%);
    background: -webkit-linear-gradient(top, #AAA1C8 0%, #967AA1 100%);
    background: linear-gradient(to bottom, #AAA1C8 0%, #967AA1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAA1C8', endColorstr='#967AA1', GradientType=0);
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--tc);
}

:root {
    --tc: #192A51;
    --bg1: #AAA1C8;
    --bg2: #967AA1;
    --rc: #D5C6E0;
    --sc: #F5E6E8;
}

i {
    font-weight: bold;
    font-size: calc(20px + 2.5vw);
    cursor: pointer;
}

.back-link {
    font-size: calc(20px + 1.8vw);
    transform: rotate(180deg);
    left: 20px;
    top: 20px;
    position: absolute;
}

.page-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    min-height: 100vh;
    width: 100%;
}

.page-container.home-page{
    /* transform: scale(0); */
}

.page-container h1 {
    font-size: calc(20px + 3.5vw);
}

.page-container canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
}

.section-heading{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}

.section-intro{
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
}

/* Animations */

.page-container.home-page.scale-up {
    transform: scale(1);
}

.scale-fade {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.fade-element{
    opacity: 0;
    transition: 1s;
}

.fade-in{
    opacity: 1;
}


/* Animations */

.page-container.secondary-page .fa-door-open{
    font-size: calc(20px + 1.8vw);
    right: 20px;
    top: 20px;
    position: absolute;
}

.page-container.secondary-page h1{
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.about-container, .portfolio-container, .contact-container{
    font-size: calc(20px + 1.8vw);
    font-weight: bold;
    padding-bottom: 20px;
    min-height: 100vh;
    width: 100%;
}

.section-wrapper{
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
}

.section-wrapper > div{
    width: 100%;
}

.audio-toggler{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* about */

.about-welcome .wrapper-right{
    display: flex;  
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding-bottom: 50px;
    padding-right: 50px;
}

.about-welcome .wrapper-right p{
    font-size: 13px;
    padding-top: 20px;
}

.about-welcome .wrapper-right i{
    font-size: 16px;
    padding-left: 8px;
    cursor: pointer;
}

.about-skills{
    flex-direction: column;
}

/* portfolio */

/* contact */

@media(max-width: 992px){
    .section-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 100px;
    }

    .about-welcome .wrapper-right{
        padding: 0;
    }
}